<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="circular--square">
                        <img class="image2" routerLink="/changeAvatar" [src]=info.avatar height="50px"
                             width="50px"/>
                    </div>

                    <mat-card-title class="information" style="color: #2c8ebb"> YOUR INFOMATION</mat-card-title>
                    <mat-card-subtitle class="username" STYLE="color: fuchsia"><b style="color: #2b542c">User
                        name:</b> {{info.username}}</mat-card-subtitle>
                </mat-card-header>
                <div *ngIf="info.token; else loggedOut"></div>
                <img mat-card-image routerLink="/changeAvatar" class="image1" [src]="info.avatar" height="300px"
                     width="400px">
                <mat-card>
                    <mat-card-title style="color: blue" class="alert alert-danger">Profile Manage</mat-card-title>
                    <mat-card-actions>
                        <button (click)="logout()" routerLink="/" style="color: red; text-decoration: none;"
                                aria-label="Angular Audio Player"
                                class="mat-button-toggle-group btn-outline-danger"
                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-outline-primary"><b><img
                                src="../../../assets/images/icons/logout2.png" height="30px"
                                width="30px"/>LOG OUT </b></span>
                        </button>
                        <span class="example-spacer"></span>
                        <!--                    <button routerLink="/" class="btn btn-danger" (click)="logout()">Logout</button>-->
                        <button routerLink="/changepass" type="submit" style="color: rebeccapurple; text-decoration: none;"
                                aria-label="Angular Audio Player"
                                class="mat-button-toggle-group btn-outline-primary"
                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><img
                                src="../../../assets/images/icons/changePassword.png" height="30px"
                                width="30px"/><b>Change Password</b></span>
                        </button>
                        <!--                    <button class="btn btn-primary" routerLink="/changepass">Change Pass</button>-->
                        <button routerLink="/changeProfile" type="submit" style="color: green; text-decoration: none;"
                                aria-label="Angular Audio Player"
                                class="mat-button-toggle-group btn-outline-success"
                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b><img
                                src="../../../assets/images/icons/change-profile.png" height="30px" width="30px"/>Change Profile</b></span>
                        </button>
                        <!--                    <button class="btn btn-danger" routerLink="/changeProfile">Change Profile</button>-->
                        <button routerLink="/changeAvatar" type="submit" style="color: orangered; text-decoration: none;"
                                aria-label="Angular Audio Player"
                                class="mat-button-toggle-group btn-outline-warning"
                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b><img
                                src="../../../assets/images/icons/change-avatar.png" height="24"
                                width="24"/>Change Avatar</b></span>
                        </button>
                        <!--                    <button class="btn btn-primary" routerLink="/changeAvatar">Change Avatar</button>-->
                    </mat-card-actions>
                </mat-card>
                <mat-card class="button">
                    <mat-card-title style="color: firebrick" class="alert alert-success">Manage All Your Create</mat-card-title>
                    <button [routerLink]="['/pageCategoryByUser/',userId]" type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-success"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        The Music of genre you have created
                        <img src="../../../../assets/images/icons/create-category.png" height="40"
                                            width="40"/>
                    </b></span>
                    </button>
                    <button [routerLink]="['/pageSingerByUser/',userId]" type="submit" style="color: mediumvioletred; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-primary"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        The Singer you have created
                    <img src="../../../assets/images/icons/create-singer.png" height="40" width="40"/></b></span>
                    </button><br><br>
                    <button [routerLink]="['/pageSongByUser/',userId]" type="submit" style="color: darkgreen; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-warning"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        The Song you have created
                    <img src="../../../assets/images/icons/create-song2.png" height="40" width="40"/></b></span>
                    </button>
                </mat-card>

                <ng-template #loggedOut>
                    <b style="color: #f92672">Please login again!!!</b>
                    <button routerLink="/login" style="color: springgreen; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="docs-button mat-button"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><img
                            width="30px;" alt="angular" class="docs-angular-logo"
                            src="../../../assets/images/icons/login.png" height="30px"><b>Login </b></span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                    </button>
                    <span class="example-spacer"></span>
                </ng-template>
            </mat-card>
        </div>
    </div>
</div>
<!--<button routerLink="/createSinger" class="btn btn-danger">Create Singer</button>-->
<!--<button routerLink="/createSong" class="btn btn-primary">Create Song</button>-->
<!--<button routerLink="/createCategory" class="btn btn-outline-primary">Create Category</button>-->
<!--<button routerLink="/createPlayList" class="btn btn-outline-primary">Create Playlist</button>-->
<!--<button routerLink="/createSongByUser" class="btn btn-outline-primary">Create Your Song</button>-->
<!--            <mat-card>-->
<!--                <mat-card-content>-->
<!--                    <mat-list>-->
<!--                        <mat-list-item *ngFor="let user of users">-->
<!--                            <h3 mat-line>-->
<!--                                <a mat-button [routerLink]="['/change-password', user.id]">{{user.name}}</a>-->
<!--                            </h3>-->
<!--                        </mat-list-item>-->
<!--                    </mat-list>-->
<!--                </mat-card-content>-->

<!--&lt;!&ndash;                <button mat-fab color="primary" [routerLink]="['/car-add']">Add</button>&ndash;&gt;-->
<!--            </mat-card>-->
<!--<mat-card class="example-card">-->
<!--    <mat-card-header>-->
<!--        <div mat-card-avatar class="example-header-image">-->
<!--            <img routerLink="/" class="circular&#45;&#45;square" [src]="info.avatar" height="80px" width="80px"/></div>-->
<!--        <mat-card-title>Shiba Inu</mat-card-title>-->
<!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--    <mat-card-content>-->
<!--        <p>-->
<!--            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--            bred for hunting.-->
<!--        </p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--        <button mat-button>LIKE</button>-->
<!--        <button mat-button>SHARE</button>-->
<!--    </mat-card-actions>-->
<!--</mat-card>-->

<div class="container" *ngIf="info">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <mat-card-title class="alert alert-primary">
                    Play list of your favorites</mat-card-title>
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                           placeholder="&#61442; Searching play list in one page..."><br>
                    <button routerLink="/createPlayList" type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-success"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        Create Play List<img src="../../../../assets/images/icons/create-category.png" height="40"
                                            width="40"/></b></span>
                    </button>
                </div>

                <!--                <mat-grid-list  cols="3" rowHeight="2:1">-->
                <!--                    <mat-grid-tile *ngFor="let ctg of category|filter:searchText">-->
                <!--                          <mat-card>-->
                <!--                              <b>{{ctg.nameCategory}}</b>-->
                <!--                              <img width="50px" height="50px" [src]="ctg.avatarCategory">-->
                <!--                          </mat-card>-->
                <!--                    </mat-grid-tile>-->

                <!--                </mat-grid-list>-->
                <div class="row">
                    <div class="column" *ngFor="let plist of playList|filter: searchText">
                        <button  [routerLink]="['/addSongToPlayList/',plist.id]" mat-icon-button style="color: #ff03cc" aria-label="Example icon button with a heart icon">
                            <mat-icon>queue music</mat-icon>
                        </button>
                        <button [routerLink]="['/editPlayList/',plist.id]" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button  mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                                 (click)="deletePlayList(plist.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <div class="card" >
                            <b [routerLink]="['/detailPlayList/',plist.id]" class="title" style="color: crimson">{{plist.namePlayList}}</b>
                            <img [routerLink]="['/detailPlayList/',plist.id]" class="image"  [src]="plist.avatarPlayList">
                        </div>

                    </div>

                </div>


                <mat-paginator #paginator [pageSizeOptions]="[10, 30, 100]" [pageSize]="5" [length]="totalElements"
                               (page)="nextPage($event)">

                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>



