<!doctype html>
<html lang="en">
<head>
  <title>Login 10</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



</head>
<body class="img js-fullheight" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0pFGsi3M7cHGxud7q9yGGmcNOx3x08jAfgQ&usqp=CAU)">
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Login #10</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Have an account?</h3>
          <form class="user" [formGroup]="formLogin" (ngSubmit)="login()">
            <div class="form-group">
              <input type="text" class="form-control form-control-user" id="exampleInputEmail" formControlName="fullName" placeholder="Username" required>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control form-control-user"
                     id="exampleInputPassword" placeholder="Password" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50">
                <label class="checkbox-wrap checkbox-primary">Remember Me
                  <input type="checkbox" checked>
                  <span class="checkmark"></span>
                  <p></p>
                </label>
              </div>
              <div class="w-50 text-md-right">
                <a href="#" style="color: #fff">Forgot Password</a>
              </div>
            </div>
          </form>
          <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
          <div class="social d-flex text-center">
            <a href="#" class="px-2 py-2 mr-md-1 rounded"><span routerLink="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8080/login-google&response_type=code
		&client_id=80724656105-fg2ndheoujm7c7dd4ob1i9mq3ebdbjhb.apps.googleusercontent.com&approval_prompt=force" class="ion-logo-facebook mr-2"></span> Gmail</a>
            <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>

