<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                           placeholder="&#61442;  Search band in one page..."><br>
                    <button *ngIf="isCheckAdmin" routerLink="/createAlbum" type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-success"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        Create Album
                        <img src="../../../../assets/images/icons/create-band.png" height="40" width="40"/></b></span>
                    </button>
                </div>

                <!--                <mat-grid-list  cols="3" rowHeight="2:1">-->
                <!--                    <mat-grid-tile *ngFor="let ctg of category|filter:searchText">-->
                <!--                          <mat-card>-->
                <!--                              <b>{{ctg.nameCategory}}</b>-->
                <!--                              <img width="50px" height="50px" [src]="ctg.avatarCategory">-->
                <!--                          </mat-card>-->
                <!--                    </mat-grid-tile>-->

                <!--                </mat-grid-list>-->
                <div class="row">
                    <div class="column" *ngFor="let album of albums|filter: searchText">
<!--                        <button  [routerLink]="['/addSongToBand/',album.id]" mat-icon-button style="color: #ff03cc" aria-label="Example icon button with a heart icon">-->
<!--                            <mat-icon>playlist_add</mat-icon>-->
<!--                        </button>-->
                        <!--                        <button *ngIf="isCheck" [routerLink]="['/addSongToCategory/',ctc.id]" mat-icon-button style="color: #ff03cc" aria-label="Example icon button with a heart icon">-->
                        <!--                            <mat-icon>queue music</mat-icon>-->
                        <!--                        </button>-->
                                                <button *ngIf="isCheckAdmin" [routerLink]="['/editAlbum/',album.id]" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button *ngIf="isCheckAdmin" mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                                                        (click)="deleteAlbum(album.id)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                        <div class="card" >
                            <b [routerLink]="['/detailAlbum/',album.id]" class="title" style="color: crimson">{{album.nameAlbum}}</b>
                            <img [routerLink]="['/detailAlbum/',album.id]" class="image"  [src]="album.avatarAlbum">
                        </div>

                    </div>

                </div>


                <mat-paginator #paginator [pageSizeOptions]="[30, 50, 100]" [pageSize]="5" [length]="totalElements"
                               (page)="nextPage($event)">

                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>
