<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                           placeholder="&#61442;  Search Song in one page..."><br>
                    <button *ngIf="isCheckAdmin" routerLink="/createHocLapTrinh" type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-success"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">
<!--                         <img src="../../../../assets/images/icons/create-category.png" height="40"-->
                        <!--                              width="40"/>-->
                        <b>Create Video
                        <img src="../../../../assets/images/icons/create-song2.png" height="40" width="40"/></b></span>
                    </button>
                </div>

                <div class="row">
                    <div class="column" *ngFor="let hlt of pageHocLapTrinh|filter: searchText">
                        <!--                        <button *ngIf="isCheck" routerLink="/createSong" mat-icon-button style="color: #ff03cc" aria-label="Example icon button with a heart icon">-->
                        <!--                            <mat-icon>queue music</mat-icon>-->
                        <!--                        </button>-->
                        <button *ngIf="isCheckAdmin" [routerLink]="['/editHocLapTrinh/',hlt.id]" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                                                <button  *ngIf="isCheckAdmin" mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                                                         (click)="deleteVideo(hlt.id)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>


                        <div [routerLink]="['/detailHocLapTrinh/',hlt.id]"class="card" >
                            <div >
                                <button mat-fab shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color"
                                        url="https://dongchinh.netlify.app/detailHocLapTrinh/{{hlt.id}}">
                                    <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
                                </button>
                                <button mat-fab>Detail


                                </button>
                                <!--                                <button  (click)="likeCount(video.id)" *ngIf="!isCheckLikeVideo" mat-button type="submit" style="color: crimson; text-decoration: none;"  class="mat-button-toggle-group btn-outline-danger">-->
                                <!--                                    &lt;!&ndash;                                aria-label="Angular Audio Player"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                                class="mat-button-toggle-group btn-outline-success"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                                mat-button tabindex="0" aria-disabled="false"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                        >&ndash;&gt;-->

                                <!--                                    &lt;!&ndash;                         <img src="../../../../assets/images/icons/create-category.png" height="40"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                              width="40"/>&ndash;&gt;-->


                                <!--                                    <img src="../../../../assets/images/icons/like1.png" height="50" width="50"/><b>{{video.likeVideo}}</b>-->
                                <!--                                </button>-->
                                <!--                                <button (click)="likeCount(video.id)"mat-button *ngIf="isCheckLikeVideo"  type="submit" style="color: crimson; text-decoration: none;"  class="mat-button-toggle-group btn-outline-danger">-->
                                <!--                                    &lt;!&ndash;                                aria-label="Angular Audio Player"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                                class="mat-button-toggle-group btn-outline-success"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                                mat-button tabindex="0" aria-disabled="false"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                        >&ndash;&gt;-->

                                <!--                                    &lt;!&ndash;                         <img src="../../../../assets/images/icons/create-category.png" height="40"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                              width="40"/>&ndash;&gt;-->

                                <!--                                    <img src="../../../../assets/images/icons/like2.png" height="50" width="50"/><b>{{video.likeVideo}}</b></button>-->
                                <!--                                <button mat-button  type="submit" style="color: crimson; text-decoration: none;"  >-->
                                <!--                                    &lt;!&ndash;                                aria-label="Angular Audio Player"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                                class="mat-button-toggle-group btn-outline-success"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                                mat-button tabindex="0" aria-disabled="false"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                        >&ndash;&gt;-->

                                <!--                                    &lt;!&ndash;                         <img src="../../../../assets/images/icons/create-category.png" height="40"&ndash;&gt;-->
                                <!--                                    &lt;!&ndash;                              width="40"/>&ndash;&gt;-->


                                <!--                                    <b><img src="../../../../assets/images/icons/listen.png" height="50" width="50"/>{{video.viewVideo}}</b>-->
                                <!--                                </button>-->
                            </div>

                            <i [routerLink]="['/detailHocLapTrinh/',hlt.id]" style="color: crimson">
                                {{hlt.nameVideo}}
                            </i>


                            <!--                            <a>{{karaoke.linkYoutube}}</a>-->
                            <!--                            <mat-video width="700" height="500" src="{{karaoke.linkYoutube}}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></mat-video>-->
                            <!--                            {{karaoke.linkYoutube}}-->
                            <iframe class="youtube" width="270px" height="200px" [src]="hlt.linkYoutube|safe:'resourceUrl'" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <!--                            <img [routerLink]="['/detailSong/',song.id]"class="img" [src]="song.avatarSong">-->
                            <!--                            <mat-card-subtitle [routerLink]="['/detailSong/',song.id]"style="color: #2b542c">Singer's: <b-->
                            <!--                                    style="color: crimson">{{song.nameSinger}}</b>-->
                            <!--                            </mat-card-subtitle>-->
                            <!--                            <mat-card-subtitle [routerLink]="['/detailSong/',song.id]" style="color: #2b542c">Music Genre: <b-->
                            <!--                                    style="color: crimson">{{song.nameCategory}}</b>-->
                            <!--                            </mat-card-subtitle>-->
                            <!--                            <mat-card-subtitle style="color: #ff03cc"><b style="color: #2b542c">Created by:</b>{{karaoke.createBy}}</mat-card-subtitle>-->

                        </div>




                    </div>

                </div>
                <mat-paginator  [pageSizeOptions]="[3,15,30,90]" [length]="totalElements"
                               (page)="nextPage($event)">
                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>


