<!--<div *ngIf="category">-->
<!--    <div>-->
<!--        <label><b>First Name: </b></label> {{category.nameCategory}}-->
<!--    </div>-->
<!--    <div>-->
<!--        <label><b>Last Name: </b></label>-->
<!--        <img [src]=category.avatarCategory>-->
<!--    </div>-->
<!--    &lt;!&ndash;    <button [routerLink]="['/addSongToCategory/',category.id]" mat-flat-button color="accent">&ndash;&gt;-->
<!--    &lt;!&ndash;        <mat-icon>queue music</mat-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;        Add Music&ndash;&gt;-->
<!--    &lt;!&ndash;    </button>&ndash;&gt;-->
<!--    &lt;!&ndash;    <button [routerLink]="['/editCategory/',category.id]" mat-flat-button color="accent">&ndash;&gt;-->
<!--    &lt;!&ndash;        <mat-icon>queue music</mat-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;        Add Music&ndash;&gt;-->
<!--    &lt;!&ndash;    </button>&ndash;&gt;-->
<!--</div>-->
<div class="container" *ngIf="band">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <img class="image" [src]="band.avatarBand"> <br><br>


                <!--                <mat-grid-list  cols="3" rowHeight="2:1">-->
                <!--                    <mat-grid-tile *ngFor="let ctg of category|filter:searchText">-->
                <!--                          <mat-card>-->
                <!--                              <b>{{ctg.nameCategory}}</b>-->
                <!--                              <img width="50px" height="50px" [src]="ctg.avatarCategory">-->
                <!--                          </mat-card>-->
                <!--                    </mat-grid-tile>-->

                <!--                </mat-grid-list>-->
                <mat-card>
                    <div class="search-hero">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchSong" autocomplete="off"
                               placeholder="&#61442;  Search Song in one page..."><br>
                        <!--                    <button routerLink="/createCategory" type="submit" style="color: crimson; text-decoration: none;"-->
                        <!--                            aria-label="Angular Audio Player"-->
                        <!--                            class="mat-button-toggle-group btn-outline-success"-->
                        <!--                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>-->
                        <!--                        Create Category<img src="../../../../assets/images/icons/create-category.png" height="40"-->
                        <!--                                            width="40"/></b></span>-->
                        <!--                    </button>-->
                    </div>
                    <div class="row">

                        <div class="column" *ngFor="let ctc of songs|filter: searchSong">
                            <!--                            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"-->
                            <!--                                    (click)="deleteSongByCategory(ctc.id)">-->
                            <!--                                <mat-icon>delete</mat-icon>-->
                            <!--                            </button>-->
                            <div class="card">
                                <b [routerLink]="['/detailSong/',ctc.id]" class="title" style="color: crimson">{{ctc.nameSong}}</b>
                                <img [routerLink]="['/detailSong/',ctc.id]" class="image1" [src]="ctc.avatarSong">
                            </div>

                        </div>

                    </div>


                    <mat-paginator #paginator [pageSizeOptions]="[15, 30, 90]" [length]="totalElements"
                                   (page)="nextPage($event)">

                    </mat-paginator>
                </mat-card><hr>
                <!-- Start Playlist by Band -->
<!--                <mat-card>-->
<!--                    <mat-card-title style="color: mediumvioletred;" class="alert alert-primary">-->
<!--                        Albums-->
<!--                        <img src="../../../../assets/images/icons/album1.png" height="50" width="50"/></mat-card-title>-->
<!--                    <div class="search-hero">-->
<!--                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"-->
<!--                               placeholder="&#61442;  Search album in one page..."><br>-->
<!--                        &lt;!&ndash;                        <button routerLink="/createCategory" type="submit" style="color: crimson; text-decoration: none;"&ndash;&gt;-->
<!--                        &lt;!&ndash;                                aria-label="Angular Audio Player"&ndash;&gt;-->
<!--                        &lt;!&ndash;                                class="mat-button-toggle-group btn-outline-success"&ndash;&gt;-->
<!--                        &lt;!&ndash;                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        Create Category<img src="../../../../assets/images/icons/create-category.png" height="40"&ndash;&gt;-->
<!--                        &lt;!&ndash;                                            width="40"/></b></span>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        </button>&ndash;&gt;-->
<!--                    </div>-->

<!--                    &lt;!&ndash;                <mat-grid-list  cols="3" rowHeight="2:1">&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <mat-grid-tile *ngFor="let ctg of category|filter:searchText">&ndash;&gt;-->
<!--                    &lt;!&ndash;                          <mat-card>&ndash;&gt;-->
<!--                    &lt;!&ndash;                              <b>{{ctg.nameCategory}}</b>&ndash;&gt;-->
<!--                    &lt;!&ndash;                              <img width="50px" height="50px" [src]="ctg.avatarCategory">&ndash;&gt;-->
<!--                    &lt;!&ndash;                          </mat-card>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </mat-grid-tile>&ndash;&gt;-->

<!--                    &lt;!&ndash;                </mat-grid-list>&ndash;&gt;-->


<!--                    <div class="row">-->
<!--                        <div class="column" *ngFor="let ctc of category.playlists|filter: searchText">-->
<!--                            &lt;!&ndash;                        <button *ngIf="isCheck" [routerLink]="['/addPlayListToCategory/',ctc.id]" mat-icon-button style="color: #ff03cc" aria-label="Example icon button with a heart icon">&ndash;&gt;-->
<!--                            &lt;!&ndash;                            <mat-icon>playlist_add</mat-icon>&ndash;&gt;-->
<!--                            &lt;!&ndash;                        </button>&ndash;&gt;-->
<!--                            <button  [routerLink]="['/addSongToPlayList/',ctc.id]" mat-icon-button style="color: #ff03cc" aria-label="Example icon button with a heart icon">-->
<!--                                <mat-icon>queue music</mat-icon>-->
<!--                            </button>-->
<!--                            <button [routerLink]="['/editPlayList/',ctc.id]" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">-->
<!--                                <mat-icon>edit</mat-icon>-->
<!--                            </button>-->
<!--                            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"-->
<!--                                    (click)="deletePlayListByCategory(ctc.id)">-->
<!--                                <mat-icon>delete</mat-icon>-->
<!--                            </button>-->
<!--                            <div class="card" >-->
<!--                                <b [routerLink]="['/detailPlayList/',ctc.id]" class="title" style="color: crimson">{{ctc.namePlayList}}</b>-->
<!--                                <img [routerLink]="['/detailPlayList/',ctc.id]" class="image1"  [src]="ctc.avatarPlayList">-->
<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->


<!--                    <mat-paginator #paginator [pageSizeOptions]="[30, 50, 100]" [pageSize]="5" [length]="totalElements"-->
<!--                                   (page)="nextPage($event)">-->

<!--                    </mat-paginator>-->

<!--                </mat-card>-->
<!--                &lt;!&ndash; END PlayList By Band &ndash;&gt;-->
            </mat-card>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <mat-card-title style="color: green"><img src="../../../../assets/images/icons/album1.png" height="50"
                                                          width="50"/>Albums</mat-card-title>
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                           placeholder="&#61442;  Search album ..."><br>
                    <!--                    <button routerLink="/createCategory" type="submit" style="color: crimson; text-decoration: none;"-->
                    <!--                            aria-label="Angular Audio Player"-->
                    <!--                            class="mat-button-toggle-group btn-outline-success"-->
                    <!--                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>-->
                    <!--                        Create Category<img src="../../../../assets/images/icons/create-category.png" height="40"-->
                    <!--                                            width="40"/></b></span>-->
                    <!--                    </button>-->
                </div>

                <!--                <mat-grid-list  cols="3" rowHeight="2:1">-->
                <!--                    <mat-grid-tile *ngFor="let ctg of category|filter:searchText">-->
                <!--                          <mat-card>-->
                <!--                              <b>{{ctg.nameCategory}}</b>-->
                <!--                              <img width="50px" height="50px" [src]="ctg.avatarCategory">-->
                <!--                          </mat-card>-->
                <!--                    </mat-grid-tile>-->

                <!--                </mat-grid-list>-->
                <div class="row">
                    <div class="column" *ngFor="let pl of playLists|filter: searchText">
                        <!--                        <button  *ngIf="isCheckAdmin" [routerLink]="['/addSongToPlayList/',pl.id]" mat-icon-button style="color: #ff03cc" aria-label="Example icon button with a heart icon">-->
                        <!--                            <mat-icon>queue music</mat-icon>-->
                        <!--                        </button>-->
                        <button *ngIf="isCheckAdmin" [routerLink]="['/editPlayList/',pl.id]" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button  *ngIf="isCheckAdmin" mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                                 (click)="deletePlayList(pl.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <div class="card" >
                            <b [routerLink]="['/detailPlayList/',pl.id]" class="title" style="color: crimson">{{pl.namePlayList}}</b>
                            <img [routerLink]="['/detailPlayList/',pl.id]" class="image1"  [src]="pl.avatarPlayList">
                        </div>

                    </div>

                </div>


                <mat-paginator #paginator [pageSizeOptions]="[30, 50, 100]" [pageSize]="5" [length]="totalElements"
                               (page)="nextPage($event)">

                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>










