<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <mat-error class="alert alert-success">Status: {{errorMessage}}</mat-error>
                <form class="create-playlist" #f="ngForm"(ngSubmit)="createPlayList()&&f.form.valid"novalidate>
                    <mat-form-field style="width: 300px;" appearance="outline">
                        <mat-label>Name PlayList:</mat-label>
                        <input name="namePlayList" matInput placeholder="Please fill name Playlist..."
                        [(ngModel)]="playList.namePlayList"#namePlayList = "ngModel" required>
                        <mat-icon color="accent" matSuffix>playlist_add</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="f.submitted&&namePlayList.invalid">
                        <mat-error *ngIf="namePlayList.errors"></mat-error>
                    </mat-error><br>
                    <mat-expansion-panel *ngIf="isCheckAdmin" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header  class="alert alert-success">
                            <mat-panel-title  style="color: mediumvioletred;">
                                Album:
                            </mat-panel-title>
                            <mat-panel-description style="color: red;">
                                Click View {{panelOpenState ? 'open!' : 'closed!'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-panel-title style="color: #2b542c" class="alert alert-warning">
                            Create Play List For The Album</mat-panel-title>
                        <mat-form-field>
                            <mat-label>Select Album</mat-label>
                            <mat-select [(value)]="selectAlbum" [ngModel]="playList.nameAlbum"
                                        (ngModelChange)="playList.nameAlbum=$event" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let p of albums" [value]="p.nameAlbum">
                                    {{ p.nameAlbum }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-expansion-panel><br>
                    <mat-expansion-panel *ngIf="isCheckAdmin" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header  class="alert alert-success">
                            <mat-panel-title  style="color: mediumvioletred;">
                                Album For Singer:
                            </mat-panel-title>
                            <mat-panel-description style="color: red;">
                                Click View {{panelOpenState ? 'open!' : 'closed!'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-panel-title style="color: #2b542c" class="alert alert-warning">
                            Create Play List For The Singer</mat-panel-title>
                        <mat-form-field>
                            <mat-label>Select Singer</mat-label>
                            <mat-select [(value)]="selectSinger" [ngModel]="playList.nameSinger"
                                        (ngModelChange)="playList.nameSinger=$event" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let p of singers" [value]="p.nameSinger">
                                    {{ p.nameSinger }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-expansion-panel><br>
                    <mat-expansion-panel *ngIf="isCheckAdmin" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header  class="alert alert-success">
                            <mat-panel-title  style="color: mediumvioletred;">
                                Album For Category:
                            </mat-panel-title>
                            <mat-panel-description style="color: red;">
                                Click View {{panelOpenState ? 'open!' : 'closed!'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-panel-title style="color: #2b542c" class="alert alert-warning">
                            Create Play List For The Category</mat-panel-title>
                        <mat-form-field>
                            <mat-label>Select Category</mat-label>
                            <mat-select [(value)]="selectCategory" [ngModel]="playList.nameCategory"
                                        (ngModelChange)="playList.nameCategory=$event" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let p of categorys" [value]="p.nameCategory">
                                    {{ p.nameCategory }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-expansion-panel><br>
                    <mat-expansion-panel *ngIf="isCheckAdmin" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header  class="alert alert-success">
                            <mat-panel-title  style="color: mediumvioletred;">
                                Album For Band:
                            </mat-panel-title>
                            <mat-panel-description style="color: red;">
                                Click View {{panelOpenState ? 'open!' : 'closed!'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-panel-title style="color: #2b542c" class="alert alert-warning">
                            Create Play List For Band</mat-panel-title>
                        <mat-form-field>
                            <mat-label>Select Band</mat-label>
                            <mat-select [(value)]="selectBand" [ngModel]="playList.nameBand"
                                        (ngModelChange)="playList.nameBand=$event" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let p of bands" [value]="p.nameBand">
                                    {{p.nameBand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-expansion-panel><br>

<!--                    <mat-form-field style="width: 300px;" appearance="outline">-->
<!--                        <mat-label>Create By:</mat-label>-->
<!--                        <input name="createBy" matInput placeholder="Please fill name Playlist..."-->
<!--                               [(ngModel)]="playList.createBy" #createBy = "ngModel"  required>-->
<!--                        <mat-icon color="accent" matSuffix>playlist_add</mat-icon>-->
<!--                    </mat-form-field><br>-->
                    <button type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-primary"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        Create Playlist
                    <img src="../../../../assets/images/icons/create-playlist.png" height="40" width="40"/></b></span>
                    </button>
                </form>
                <mat-error *ngIf="!isUploadAvatar">Please upload Avatar</mat-error>
                <app-upload-avatar (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar>
            </mat-card>
        </div>
    </div>
</div>
