<div class="container" style="margin-top: 10px" *ngIf="playList">
    <!--    <a [routerLink]="['/add-song/',playlist.id]" class="btn btn-outline-warning offset-5">Thêm Bài Hát Vào PLaylist</a>-->
    <!--    <hr>-->
    <!--    <button [routerLink]="['/add-song/',playlist.id]" mat-fab aria-label="Example icon-button with a heart icon">-->
    <!--        Add Music To Playlist<mat-icon>favorite</mat-icon>-->
    <!--    </button>-->
    <!--    <button [routerLink]="['/add-song/',playlist.id]" mat-flat-button color="accent" ><mat-icon>queue music</mat-icon>Add Music</button>-->
    <!--    <div class="row" >-->

    <!--        <div class="col-3" *ngFor="let song of playlist.songs">-->
    <!--            <div class="mb-4" [routerLink]="['/home/song/play',song.id]"-->
    <!--                 style="width: 150px; height: 150px">-->
    <!--                <img class="avatar-music text-center" src="{{song.avatarUrl}}" alt="{{song.nameSong }}">-->
    <!--            </div>-->
    <!--            <h6 class="font-weight-bold" style="margin-top: 40px">-->
    <!--                <a routerLink="#">{{song.nameSong}}</a>-->
    <!--            </h6>-->
    <!--            <p style="font-size: 85%; margin-top: 15px">Ca sĩ - <a class="font-weight-bold">{{song.singer}}</a></p>-->
    <!--            <p style="font-size: 85%">Thể loại - <a class="font-weight-bold">{{song.category}}</a></p>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--<mat-card-title>{{playList.createBy}}</mat-card-title>-->
    <div class="col-12" style="margin-top: 20px;">
        <mat-card
                style="background-image: url(https://firebasestorage.googleapis.com/v0/b/chinhbeo-18d3b.appspot.com/o/12x800.gif?alt=media&token=8e3a73e2-e551-4d5e-bc2e-6bb6c433c888)">
            <mat-card>
                <img class="image1"
                     src="https://blog.flamingtext.com/blog/2020/08/25/flamingtext_com_1598335997_246990797.gif"
                     border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com">
            </mat-card>
            <!--            <img class="img" [src]="playList.avatarPlayList">-->
            <mat-card-content style="color: #bf79db" class="row justify-contents-around">
                <div class="col py-3 pl-5">
                    <h4 style="color: greenyellow">Controls</h4>
                    <div class="d-flex flex-row px-3">
                        <h5 style="color: greenyellow">displayTitle:</h5>
                        <mat-checkbox style="color:red;" class="px-3 mat-advanced-player-display-title"
                                      [checked]="msaapDisplayTitle"
                                      (change)="changeMsaapDisplayTitle($event)">{{msaapDisplayTitle}}</mat-checkbox>
                    </div>
                    <div style="color: #a6e22e" class="d-flex flex-row px-3">
                        displayPlayList:
                        <mat-checkbox style="color: red" class="px-3 mat-advanced-player-display-playlist"
                                      [checked]="msaapDisplayPlayList"
                                      (change)="changeMsaapDisplayPlayList($event)">{{msaapDisplayPlayList}}</mat-checkbox>
                    </div>
                    <div style="color: #a6e22e" class="d-flex flex-row px-3">
                        displayVolumeControls:
                        <mat-checkbox style="color: red" class="px-3 mat-basic-player-display-title"
                                      [checked]="msaapDisplayVolumeControls"
                                      (change)="changeMsaapDisplayVolumeControls($event)">{{msaapDisplayVolumeControls}}</mat-checkbox>
                        <!--                    <button [routerLink]="['/add-song/',playlist.id]" mat-flat-button color="accent" ><mat-icon>queue music</mat-icon>Add Music</button>-->
                    </div>
                </div>
                <div class="col">
                    <button *ngIf="isCheckAddSong" [routerLink]="['/addSongToPlayList/',playList.id]" mat-flat-button
                            color="accent">
                        <mat-icon>queue music</mat-icon>
                        Add Music
                    </button>
<!--                    <button *ngIf="isCheckAmin" [routerLink]="['/addSongToPlayList/',playList.id]" mat-flat-button-->
<!--                            color="accent">-->
<!--                        <mat-icon>queue music</mat-icon>-->
<!--                        Add Music-->
<!--                    </button>-->
                    <!--                <h3>{{title}}</h3>-->
                    <mat-advanced-audio-player [playlist]="msMapPlayList" [displayTitle]="msaapDisplayTitle"
                                               [displayPlaylist]="msaapDisplayPlayList" [autoPlay]="true"
                                               muted="muted"
                                               [pageSizeOptions]="pageSizeOptions"
                                               [displayVolumeControls]="msaapDisplayVolumeControls"
                                               [expanded]="true"></mat-advanced-audio-player>
                </div>
            </mat-card-content>
            <mat-accordion *ngIf="isCheckAddSong">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: blue;">
                            MANAGE PLAY LIST:
                        </mat-panel-title>
                        <mat-panel-description style="color: red;">
                            Click View {{panelOpenState ? 'open!' : 'closed!'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- KHONG PHAN TRANG DUOC -->
                    <!--                    <div class="container">-->
                    <!--                        <div class="row">-->
                    <!--                            <div class="col-12" style="margin-top: 20px;">-->
                    <!--                                <mat-card style="margin: 50px 0;">-->
                    <!--                                    <mat-card-title style="color:indianred;">Manage Play List</mat-card-title>-->
                    <!--                                    <div class="example-header">-->
                    <!--                                        <mat-form-field>-->
                    <!--                                            <input matInput (keyup)="applyFilter($event.target.value)"-->
                    <!--                                                   placeholder="Search Song..">-->
                    <!--                                            <mat-icon color="accent" matPrefix>image_search</mat-icon>-->
                    <!--                                        </mat-form-field>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="example-container mat-elevation-z8">-->
                    <!--                                        <table mat-table [dataSource]="dataSource">-->
                    <!--                                            &lt;!&ndash; Position Column &ndash;&gt;-->
                    <!--                                            <ng-container matColumnDef="id">-->
                    <!--                                                <th mat-header-cell *matHeaderCellDef> ID</th>-->
                    <!--                                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
                    <!--                                            </ng-container>-->
                    <!--                                            <ng-container matColumnDef="nameSong">-->
                    <!--                                                <th mat-header-cell *matHeaderCellDef> NameSong</th>-->
                    <!--                                                <td mat-cell *matCellDef="let element"> {{element.nameSong}} </td>-->
                    <!--                                            </ng-container>-->
                    <!--                                            <ng-container matColumnDef="mp3Url">-->
                    <!--                                                <th mat-header-cell *matHeaderCellDef> Delete Song</th>-->
                    <!--                                                <td mat-cell *matCellDef="let element">-->
                    <!--                                                    <div class="example-button-container">-->
                    <!--                                                        <button mat-mini-fab color="warn"-->
                    <!--                                                                aria-label="Example icon button with a delete icon"-->
                    <!--                                                                (click)="deleteSong(element.mp3Url)">-->
                    <!--                                                            <mat-icon>delete</mat-icon>-->
                    <!--                                                        </button>-->
                    <!--                                                    </div>-->
                    <!--                                                </td>-->
                    <!--                                            </ng-container>-->
                    <!--                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
                    <!--                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

                    <!--                                        </table>-->
                    <!--                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"-->
                    <!--                                                       showFirstLastButtons></mat-paginator>-->
                    <!--                                        -->
                    <!--                                    </div>-->
                    <!--                                -->

                    <!--                                </mat-card>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!-- END KHONG PHAN TRANG DUOC -->
                    <div class="search-hero">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                               autocomplete="off"
                               placeholder="&#61442;  Search Song..."><br>
                    </div>
                    <div style="text-align:center">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th style="color: #2b542c" scope="col">Name Song</th>
                                <th style="color: #2b542c" scope="col">Delete Song</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let i=index;let item of playList.songList|filter: searchText | paginate: config">
                                <th scope="row">{{i + 1}}</th>
                                <td><mat-card-subtitle style="color: #ff03cc" [routerLink]="['/detailSong/',item.id]">{{item.nameSong}}</mat-card-subtitle></td>
                                <td>
                                    <button mat-mini-fab color="warn"
                                            aria-label="Example icon button with a delete icon"
                                            (click)="deleteSong(item.mp3Url)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </div>
</div>


