<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <form class="create-band" #f="ngForm"(ngSubmit)="f.form.valid&&createBand()" novalidate>
                    <mat-error class="alert alert-success">{{errorMessage}}</mat-error>
                    <mat-form-field style="width: 300px"appearance="outline">
                        <mat-label>Name Band:</mat-label>
                        <input name="nameBand" matInput placeholder="Fill the name band ..."
                        [(ngModel)]="band.nameBand"#nameBand="ngModel" required>
                        <mat-icon color="accent" matSuffix>supervisor_account</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="f.submitted&&nameBand.invalid">
                        <mat-error *ngIf="nameBand.errors"></mat-error>
                    </mat-error><br>
                    <button type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-success"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        Create Band
                        <img src="../../../../assets/images/icons/create-band.png" height="40" width="40"/></b></span>
                    </button>
                </form>
                <mat-error *ngIf="!addAvatar">Please upload Avatar</mat-error>
                <app-upload-avatar (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar>
            </mat-card>
        </div>
    </div>
</div>
