<!--<app-title-page [content]="title"></app-title-page>-->
<!--<div class="container">-->
<!--    <div class="rowk">-->
<!--        <div class="card col-md-4 offset-4 mb-4">-->
<!--            <div class="card-body">-->
<!--                <div id="loginbox" class="mainbox">-->
<!--                    <div class="panel panel-info">-->

<!--                        <div class="panel-body" style="padding-top:30px">-->
<!--                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>-->
<!--                            <form class="form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>-->
<!--                                <div *ngIf="isChangePassed; else ChanePassForm">-->
<!--                                    <p class="message-signup" style="color: limegreen">Your registration is successful. Please login!</p>-->
<!--                                </div>-->

<!--                                <ng-template #ChanePassForm>-->
<!--                                    <form name="form" (ngSubmit)="f.form.valid && ngSubmit()" #f="ngForm" novalidate>-->
<!--                                        <div style="margin-bottom: 25px" class="form-group">-->
<!--                                            <label><i class="fa fa-unlock"></i>-->
<!--                                                Mật Khẩu Cũ:-->
<!--                                            </label>-->
<!--                                            <input type="password" class="form-control"-->
<!--                                                   name="firstName" placeholder="Current Password"-->
<!--                                                   [(ngModel)]="form.currentPassword"-->
<!--                                                   #currentPassword="ngModel" required/>-->
<!--                                            <div *ngIf="f.submitted && currentPassword.invalid">-->
<!--                                                <div *ngIf="currentPassword.errors.required">Current Password is required</div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div style="margin-bottom: 25px" class="form-group">-->
<!--                                            <label><i class="fa fa-unlock-alt"></i>-->
<!--                                                Mật Khẩu Mới:-->
<!--                                            </label>-->
<!--                                            <input type="password" class="form-control"-->
<!--                                                   name="lastName" placeholder="New Password"-->
<!--                                                   [(ngModel)]="form.newPassword" #newPassword="ngModel" required/>-->
<!--                                            <div *ngIf="f.submitted && newPassword.invalid">-->
<!--                                                <div *ngIf="newPassword.errors.required">New PassWord is required</div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div style="margin-bottom: 25px" class="form-group">-->
<!--                                            <label><i class="fa fa-lock"></i>-->
<!--                                                Xác Nhận Mật Khẩu Mới:-->
<!--                                            </label>-->
<!--                                            <input type="password" class="form-control"-->
<!--                                                   name="lastName" placeholder="Confirm Password"-->
<!--                                                   [(ngModel)]="form.confirmPassword" #confirmPassword="ngModel" required/>-->
<!--                                            <div *ngIf="f.submitted && confirmPassword.invalid">-->
<!--                                                <div *ngIf="confirmPassword.errors.required">confirm PassWord is required</div>-->
<!--                                            </div>-->
<!--                                        </div>-->


<!--                                        <div class="form-group">-->
<!--                                            <button class="btn btn-info btn-block my-4" type="submit">Thay Đổi Mật Khẩu</button>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </ng-template>-->

<!--                            </form>-->
<!--                        </div> &lt;!&ndash;Body&ndash;&gt;-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="container-fluid row">-->
<!--&lt;!&ndash;        <div class="col-3">&ndash;&gt;-->
<!--&lt;!&ndash;            <app-menu-left></app-menu-left>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="col-5" style="margin-bottom: 10px" >-->
<!--            <form (ngSubmit)="ngSubmit()" [formGroup]="changeForm" >-->

<!--                    <label>Tên Ca Sĩ: </label>-->
<!--                    <input type="text" class="form-control" [(ngModel)]="changePassword.currentPassword"-->
<!--                           formControlName="currentPassword"-->
<!--                           placeholder="Nhập vào tên ca sĩ">-->


<!--                    <label>Information: </label>-->
<!--                    <input class="form-control" [(ngModel)]="changePassword.newPassword"-->
<!--                              formControlName="newPassword"-->
<!--                              placeholder="Nhập vào mô tả">-->


<!--                    <label>Tên Ca Sĩ: </label>-->
<!--                    <input type="text" class="form-control" [(ngModel)]="changePassword.confirmPassword"-->
<!--                           formControlName="currentPassword"-->
<!--                           placeholder="Nhập vào tên ca sĩ">-->

<!--                <div style="margin-bottom: 20px">-->
<!--                    <button type="submit" class="btn btn-primary">update Ca Sĩ</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="col-4" style="margin-bottom: 10px">&ndash;&gt;-->
<!--&lt;!&ndash;            <app-upload-avatar (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->


<!--<app-footer></app-footer>-->


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-12" style="margin-top: 20px">-->
<!--            <mat-card style="margin: 50px 0;">-->
<!--                <mat-card-title style="color: #ff359f" *ngIf="isChangePassed; else changePassForm">-->
<!--                    Your password is change successful!!-->
<!--                </mat-card-title>-->
<!--                <ng-template #changePassForm>-->
<!--                    <form class="form-change-pass" name="form" (ngSubmit)="f.form.valid && ngSubmit()" #f="ngForm" novalidate>-->
<!--                        <mat-form-field style=" width: 350px" appearance="outline">-->
<!--                            <mat-label>Enter current password</mat-label>-->
<!--                            <input name="currentPassword" matInput [type]="hide ? 'password' : 'text'"-->
<!--                                   [(ngModel)]="form.currentPassword" #currentPassword="ngModel"-->
<!--                                   required minlength="6">-->
<!--                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
<!--                                    [attr.aria-pressed]="hide">-->
<!--                                <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--                            </button>-->
<!--                            <div *ngIf="f.submitted && currentPassword.invalid"></div>-->
<!--                            <mat-error *ngIf="currentPassword.hasError('required')">-->
<!--                                Password is required-->
<!--                            </mat-error>-->
<!--                            <mat-error *ngIf="currentPassword.errors?.minlength">-->
<!--                                Password min is 6 character-->
<!--                            </mat-error>-->
<!--                        </mat-form-field> <br>-->

<!--                        <mat-form-field style=" width: 350px" appearance="outline">-->
<!--                            <mat-label>Enter new password</mat-label>-->
<!--                            <input name="newPassword" matInput [type]="hide ? 'password' : 'text'"-->
<!--                                   required minlength="6" formControlName="newPassword">-->
<!--                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
<!--                                    [attr.aria-pressed]="hide1">-->
<!--                                <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--                            </button>-->
<!--&lt;!&ndash;                            <div *ngIf="f.submitted && newPassword.invalid"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <mat-error *ngIf="newPassword.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                                Password is required&ndash;&gt;-->
<!--&lt;!&ndash;                            </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                            <mat-error *ngIf="newPassword.errors?.minlength">&ndash;&gt;-->
<!--&lt;!&ndash;                                Password min is 6 character&ndash;&gt;-->
<!--&lt;!&ndash;                            </mat-error>&ndash;&gt;-->
<!--                        </mat-form-field> <br>-->

<!--                        <mat-form-field style=" width: 350px" appearance="outline">-->
<!--                            <mat-label>Enter confirm password</mat-label>-->
<!--                            <input name="confirmPassword" matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" (input)="onPasswordInput()">-->
<!--                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
<!--                                    [attr.aria-pressed]="hide">-->
<!--                                <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--                            </button>-->
<!--                            <div *ngIf="f.submitted && confirmPassword.invalid"></div>-->
<!--                            <mat-error *ngIf="confirmPassword.hasError('required')">-->
<!--                                Confirm password is required-->
<!--                            </mat-error>-->
<!--                            <mat-error *ngIf="confirmPassword.invalid">Passwords don't match</mat-error>-->
<!--                        </mat-form-field> <br>-->
<!--                        <button style="color: #0b84ff; text-decoration: none;" aria-label="Angular Audio Player"-->
<!--                                class="docs-button mat-button"-->
<!--                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><img-->
<!--                                src="../../../assets/images/icons/changePassword.png" height="64" width="64"/><b>Change Password</b></span>-->
<!--                            <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                            <div class="mat-button-focus-overlay"></div>-->
<!--                        </button><span class="example-spacer"></span>-->
<!--                        <mat-card-title style="color: darkred" *ngIf="f.submitted && isChangePassed">-->
<!--                            Change Password Failed!-->
<!--                        </mat-card-title>-->
<!--                    </form>-->
<!--                </ng-template>-->

<!--            </mat-card>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!-- FORM DA CONFIRM THANH CONG -->

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-12" style="margin-top: 20px">-->
<!--            <mat-card style="margin: 50px 0;">-->
<!--                <mat-card-title style="color: #ff359f" *ngIf="isChangePassed; else changePassForm">-->
<!--                    Your password is change successful!!-->
<!--                </mat-card-title>-->
<!--                <ng-template #changePassForm>-->
<!--                    <form class="form-group" (ngSubmit)="ngSubmit()" [formGroup]="changeForm">-->
<!--                        <mat-form-field style=" width: 350px" appearance="outline">-->
<!--                            <mat-label>Enter your password</mat-label>-->
<!--                            <input name="password" matInput [type]="hide ? 'password' : 'text'"-->
<!--                                   [(ngModel)]="changePassword.currentPassword" #currentPassword="ngModel"-->
<!--                                   required minlength="6">-->
<!--                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
<!--                                    [attr.aria-pressed]="hide">-->
<!--                                <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--                            </button>-->
<!--&lt;!&ndash;                            <div *ngIf="f.submitted && password.invalid">&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash;                                <div *ngIf="password.errors.required">Password is&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash;                                    required&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash;                                </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            <mat-error *ngIf="currentPassword.hasError('required')">-->
<!--                                Password is <strong>required</strong>-->
<!--                            </mat-error>-->
<!--                            <mat-error *ngIf="currentPassword.errors?.minlength">-->
<!--                                Password min is 6 character-->
<!--                            </mat-error>-->

<!--                        </mat-form-field>-->
<!--                        <input class="form-control" type="password" formControlName="currentPassword"-->
<!--                               [(ngModel)]="changePassword.currentPassword">-->

<!--                        <input class="form-control" type="password" formControlName="newPassword"-->
<!--                               [(ngModel)]="changePassword.newPassword">-->

<!--                        <input class="form-control" type="password" formControlName="confirmPassword"-->
<!--                               [(ngModel)]="changePassword.confirmPassword">-->

<!--                        <div class="err-msg" *ngIf="changeForm.errors && (changeForm.touched || changeForm.dirty)">-->
<!--                            confirm-password does not match password-->
<!--                        </div>-->
<!--                        <button style="color: #0b84ff; text-decoration: none;" aria-label="Angular Audio Player"-->
<!--                                class="docs-button mat-button"-->
<!--                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><img-->
<!--                                src="../../../assets/images/icons/changePassword.png" height="64" width="64"/><b>Change Password</b></span>-->
<!--                            <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                            <div class="mat-button-focus-overlay"></div>-->
<!--                        </button>-->
<!--                        <span class="example-spacer"></span>-->
<!--                    </form>-->
<!--                </ng-template>-->

<!--            </mat-card>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- END FORM CONFIRM -->
<div class="container">
    <div class="row">
        <div class="col-12 " style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <form (ngSubmit)="f.form.valid && ngSubmit()" #f="ngForm" [formGroup]="myForm" class="form-change-pass" novalidate>
                    <mat-form-field style=" width: 350px" appearance="outline">
                        <mat-label>Enter your Current Password</mat-label>
                        <input name="password" matInput [type]="hide ? 'password' : 'text'"
                               formControlName="currentPassword"
                               [(ngModel)]="changePassWord.currentPassword"
                               required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="myForm.hasError('required', 'currentPassword')">
                            Please enter your Current Password
                        </mat-error>
                    </mat-form-field> <br>

                    <mat-form-field style=" width: 350px" appearance="outline">
                        <mat-label>Enter New Password</mat-label>
                        <input name="password" matInput [type]="hide ? 'password' : 'text'"
                               formControlName="newPassword"
                               [(ngModel)]="changePassWord.newPassword"
                               required [errorStateMatcher]="matcher">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="myForm.hasError('required', 'newPassword')">
                            Please enter your New Password
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style=" width: 350px" appearance="outline">
                        <mat-label>Enter Confirm Password </mat-label>
                        <input name="password" matInput [type]="hide ? 'password' : 'text'"
                               formControlName="confirmPassword"
                               [(ngModel)]="changePassWord.confirmPassword"
                               [errorStateMatcher]="matcher" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="myForm.hasError('notSame')">
                            The Confirm Password does not match the New Password
                        </mat-error>
                    </mat-form-field> <br>
<!--                    <ng-template #notErr>-->
<!--                        <mat-error *ngIf=" f.submitted">-->
<!--                            <mat-card-subtitle style="color: red">-->
<!--                                Change Pass Failled! Please check Confirm Password does not match your New Password!-->
<!--                            </mat-card-subtitle>-->
<!--                        </mat-error>-->
<!--                    </ng-template>-->
<!--                    <mat-error *ngIf="!myForm.hasError('notSame'); else notErr"></mat-error>-->
                    <button type="submit" style="color: #0b84ff; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="docs-button mat-button"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><img
                            src="../../../assets/images/icons/changePassword.png" height="64"
                            width="64"/><b>Change Password</b></span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                    </button>
                    <span class="example-spacer"></span>
                    <span class="example-spacer"></span>
                    <br> <br>
                    <ng-template #Error>
                        <mat-error *ngIf="f.submitted&&isChangePassed">
                            <mat-card-subtitle style="color: red">
                                Change Pass Failled! Please check Current Password: "{{changePassWord.currentPassword}}"
                                "does not match your Old Password!
                            </mat-card-subtitle>
                        </mat-error>
                    </ng-template>
                 <mat-error *ngIf="!(f.submitted&&isChangePassed); else Error"></mat-error>
                </form>
            </mat-card>
        </div>
    </div>
</div>


<!--    <div class="container-fluid row">-->
<!--&lt;!&ndash;        <div class="col-3">&ndash;&gt;-->
<!--&lt;!&ndash;            <app-menu-left></app-menu-left>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="col-5" style="margin-bottom: 10px" >-->
<!--            <form (ngSubmit)="ngSubmit()" [formGroup]="form" >-->
<!--                <div class="form-group">-->
<!--                    <label>Current Pass: </label>-->
<!--                    <input type="password" class="form-control" [(ngModel)]="changePass.currentPassword"-->
<!--                           formControlName="currentPassword"-->
<!--                           placeholder="currentPassword">-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label>New Pass: </label>-->
<!--                    <input  type="password" class="form-control" [(ngModel)]="changePass.newPassword"-->
<!--                              formControlName="newPassword"-->
<!--                              placeholder="new Pass">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Confirm Pass: </label>-->
<!--                    <input  type="password" class="form-control" [(ngModel)]="changePass.confirmPassword"-->
<!--                            formControlName="confirmPassword"-->
<!--                            placeholder="Confirm">-->
<!--                </div>-->
<!--                <div style="margin-bottom: 20px">-->
<!--                    <button type="submit" class="btn btn-primary">update Pass</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="col-4" style="margin-bottom: 10px">-->
<!--            <app-upload-avatar (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<form [formGroup]="form" (ngSubmit)="ngSubmit()">-->

<!--    <div class="form-group">-->
<!--        <label class="color-df mb-1">Current password</label>-->
<!--        <div class="input-group-custom">-->
<!--            <input pPassword formControlName="currentPassword"-->
<!--                   [type]="show_button[0] ? 'text' : 'password'" class="form-control" placeholder="Current password"-->
<!--                   [class.is-invalid]="f?.currentPassword?.errors && (f?.currentPassword?.touched || flags.isSubmit) || (this.flags.currentPasswordNotMatch && f?.currentPassword?.valid)"-->
<!--                   maxlength="20" autocomplete="off">-->
<!--            <i [class]="show_eye[0] ? 'fa fa-eye' : 'fa fa-eye-slash'" [ngClass]="{'input-group-addon-custom': true}" (click)="showPassword(0)"></i>-->
<!--        </div>-->
<!--        <div class="invalid-feedback" *ngIf="f?.currentPassword?.touched || flags.isSubmit">-->
<!--            <span *ngIf="f?.currentPassword?.errors?.required">Current Password field is required</span>-->
<!--            <span *ngIf="this.flags.currentPasswordNotMatch && f?.currentPassword?.valid">Incorrect password</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label class="color-df mb-1">New password</label>-->
<!--        <div class="input-group-custom">-->
<!--            <input pPassword formControlName="newPassword"-->
<!--                   [type]="show_button[1] ? 'text' : 'password'" class="form-control" placeholder="New password"-->
<!--                   [class.is-invalid]="f?.newPassword?.errors && (f?.newPassword?.touched || flags.isSubmit)"-->
<!--                   maxlength="20" autocomplete="off">-->
<!--            <i [class]="show_eye[1] ? 'fa fa-eye' : 'fa fa-eye-slash'" [ngClass]="{'input-group-addon-custom': true}" (click)="showPassword(1)"></i>-->
<!--        </div>-->
<!--        <div class="invalid-feedback" *ngIf="f?.newPassword?.touched || flags.isSubmit">-->
<!--            <span *ngIf="f?.newPassword?.errors?.required">New password field is required</span>-->
<!--            <span *ngIf="f?.newPassword?.errors?.minlength">Minimum length is 8 characters</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label class="color-df mb-1">Confirm new password</label>-->
<!--        <div class="input-group-custom">-->
<!--            <input pPassword formControlName="confirmNewPassword"-->
<!--                   [type]="show_button[2] ? 'text' : 'password'" class="form-control" placeholder="Confirm new password"-->
<!--                   [class.is-invalid]="f?.confirmNewPassword?.errors && (f?.confirmNewPassword?.touched || flags.isSubmit)"-->
<!--                   maxlength="20" autocomplete="off">-->
<!--            <i [class]="show_eye[2] ? 'fa fa-eye' : 'fa fa-eye-slash'" [ngClass]="{'input-group-addon-custom': true}" (click)="showPassword(2)"></i>-->
<!--        </div>-->
<!--        <div class="invalid-feedback" *ngIf="f?.confirmNewPassword?.touched || flags.isSubmit">-->
<!--            <span *ngIf="f?.confirmNewPassword?.errors?.required">Confirm new password field is required</span>-->
<!--            <span *ngIf="f?.confirmNewPassword?.errors?.mustMatch">Password must match</span>-->
<!--        </div>-->
<!--    </div>-->

<!--&lt;!&ndash;    <button pButton&ndash;&gt;-->
<!--&lt;!&ndash;            icon="pi {{flags.notDublicateSubmit ? 'pi-spin pi-spinner' : 'pi-check'}}"&ndash;&gt;-->
<!--&lt;!&ndash;            label="Change Password"&ndash;&gt;-->
<!--&lt;!&ndash;            class="mx-1 btn btn-primary d-table m-auto pb-1 pt-1"&ndash;&gt;-->
<!--&lt;!&ndash;            [attr.disabled]="flags.notDublicateSubmit ? '' : null">&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--    <button type="submit">Change Pass</button>-->

<!--</form>-->
