<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px;">
            <mat-card routerLink="/pageHocLapTrinh" class="hoc-lap-trinh" style="margin: 50px 0;">
                <img class="image1" src="https://blog.flamingtext.com/blog/2020/11/05/flamingtext_com_1604560106_823690709.png">
            </mat-card>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px;">
            <mat-card style="margin: 50px 0;">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [routerLink]="['/detailSong/',id3]" class="img1" src="{{image3}}"/>
                        </div>
                        <div class="carousel-item">
                            <img [routerLink]="['/detailSong/',id1]" class="img1" src="{{image1}}"/>
                        </div>
                        <div class="carousel-item">
                            <img [routerLink]="['/detailSong/',id2]" class="img1" src="{{image2}}"/>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card  style="background-image: url(https://firebasestorage.googleapis.com/v0/b/chinhbeo-18d3b.appspot.com/o/12x800.gif?alt=media&token=8e3a73e2-e551-4d5e-bc2e-6bb6c433c888)">
                <mat-card-title style="color: crimson" class="alert alert-primary">
                    <img src="../../assets/images/icons/heart-like.png" height="50" width="50">
                    Top favorite Songs
                    <img src="../../assets/images/icons/heart-like-1.png" height="50" width="50"/></mat-card-title>
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                           placeholder="&#61442;  Search Song in one page..."><br>
                    <button routerLink="/createSong" type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-success"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">
<!--                         <img src="../../../../assets/images/icons/create-category.png" height="40"-->
                        <!--                              width="40"/>-->
                        <b>Create Song
                        <img src="../../../../assets/images/icons/create-song2.png" height="40" width="40"/></b></span>
                    </button>
                </div>

                <div class="row">
                    <div class="column" *ngFor="let song of pageLikeSong|filter: searchText">


                        <button *ngIf="isCheckAdmin" routerLink="/createSong" mat-icon-button style="color: #ff03cc"
                                aria-label="Example icon button with a heart icon">
                            <mat-icon>queue music</mat-icon>
                        </button>
                        <button *ngIf="isCheckAdmin" [routerLink]="['/editSong/',song.id]" mat-icon-button
                                color="primary" aria-label="Example icon button with a heart icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="isCheckAdmin" mat-icon-button color="warn"
                                aria-label="Example icon button with a heart icon"
                                (click)="deleteSong(song.id)">
                            <mat-icon>delete</mat-icon>
                        </button>


                        <div class="card">
                            <button mat-button [routerLink]="['/detailSong/',song.id]" type="submit"
                                    style="color: crimson; text-decoration: none;"
                                    class="mat-button-toggle-group btn-outline-success">

                                <img src="../../assets/images/icons/like2.png" height="30"
                                     width="30"/><b>{{song.likeSong}}</b>
                            </button>
                            <i [routerLink]="['/detailSong/',song.id]" style="color: crimson">
                                {{song.nameSong}}
                            </i>

                            <img [routerLink]="['/detailSong/',song.id]" class="img" [src]="song.avatarSong">
                            <mat-card-subtitle [routerLink]="['/detailSong/',song.id]" style="color: #2b542c">Singer's:
                                <b
                                        style="color: crimson">{{song.nameSinger}}</b>
                            </mat-card-subtitle>
                            <mat-card-subtitle [routerLink]="['/detailSong/',song.id]" style="color: #2b542c">Music
                                Genre: <b
                                        style="color: crimson">{{song.nameCategory}}</b>
                            </mat-card-subtitle>
                            <mat-card-subtitle style="color: #ff03cc"><b style="color: #2b542c">Created
                                by:</b>{{song.createBy}}</mat-card-subtitle>

                        </div>


                    </div>

                </div>
                <mat-paginator #paginator [pageSizeOptions]="[9,15,30,90]" [length]="totalElements"
                               (page)="nextPage($event)">
                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>


<hr>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 0px">
            <mat-card style="background-image: url(https://firebasestorage.googleapis.com/v0/b/chinhbeo-18d3b.appspot.com/o/anhdao1200-800.gif?alt=media&token=691865ad-6f71-418e-bf60-ecd2e936d6bf)">
                <mat-card-title style="color: darkgreen" class="alert alert-danger">
                    <img src="../../assets/images/icons/heard.png" height="50" width="50"/>Top Songs most heard<img
                        src="../../assets/images/icons/listen.png" height="50" width="50"/></mat-card-title>
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                           placeholder="&#61442;  Search Song in one page...">
                    <!--          <button routerLink="/createSong" type="submit" style="color: crimson; text-decoration: none;"-->
                    <!--                  aria-label="Angular Audio Player"-->
                    <!--                  class="mat-button-toggle-group btn-outline-success"-->
                    <!--                  mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">-->
                    <!--&lt;!&ndash;                         <img src="../../../../assets/images/icons/create-category.png" height="40"&ndash;&gt;-->
                    <!--            &lt;!&ndash;                              width="40"/>&ndash;&gt;-->
                    <!--                        <b>Create Song-->
                    <!--                        <img src="../../../../assets/images/icons/create-song2.png" height="40" width="40"/></b></span>-->
                    <!--          </button>-->
                </div>

                <div class="row">
                    <div class="column" *ngFor="let song of pageListenSongs|filter: searchText">
                        <button *ngIf="isCheckAdmin" routerLink="/createSong" mat-icon-button style="color: #ff03cc"
                                aria-label="Example icon button with a heart icon">
                            <mat-icon>queue music</mat-icon>
                        </button>
                        <button *ngIf="isCheckAdmin" [routerLink]="['/editSong/',song.id]" mat-icon-button
                                color="primary" aria-label="Example icon button with a heart icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="isCheckAdmin" mat-icon-button color="warn"
                                aria-label="Example icon button with a heart icon"
                                (click)="deleteSong(song.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <div class="card">
                            <button mat-button [routerLink]="['/detailSong/',song.id]" type="submit"
                                    style="color: crimson; text-decoration: none;"
                                    class="mat-button-toggle-group btn-outline-success">
                                <!--                                aria-label="Angular Audio Player"-->
                                <!--                                class="mat-button-toggle-group btn-outline-success"-->
                                <!--                                mat-button tabindex="0" aria-disabled="false"-->
                                <!--                        >-->

                                <!--                         <img src="../../../../assets/images/icons/create-category.png" height="40"-->
                                <!--                              width="40"/>-->


                                <img src="../../assets/images/icons/listen.png" height="30"
                                     width="30"/><b>{{song.listenSong}}</b>
                            </button>
                            <br>
                            <i [routerLink]="['/detailSong/',song.id]" style="color: crimson">
                                {{song.nameSong}}
                            </i>

                            <img [routerLink]="['/detailSong/',song.id]" class="img" [src]="song.avatarSong">
                            <mat-card-subtitle [routerLink]="['/detailSong/',song.id]" style="color: #2b542c">Singer's:
                                <b
                                        style="color: crimson">{{song.nameSinger}}</b>
                            </mat-card-subtitle>
                            <mat-card-subtitle [routerLink]="['/detailSong/',song.id]" style="color: #2b542c">Music
                                Genre: <b
                                        style="color: crimson">{{song.nameCategory}}</b>
                            </mat-card-subtitle>
                            <mat-card-subtitle style="color: #ff03cc"><b style="color: #2b542c">Created
                                by:</b>{{song.createBy}}</mat-card-subtitle>
                        </div>

                    </div>

                </div>
                <mat-paginator [pageSizeOptions]="[15,30,90]" [length]="totalElements"
                               (page)="nextPage($event)">
                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>

<!-- SINGER -->
<!--<div class="col">-->
<!--    <h3 routerLink="/list-singer" style="color: deeppink; font-weight: bold">-->
<!--        Các Ca Sĩ Liên Quan<i class="fas fa-chevron-right fas-1g ml-2" style="font-size: 80%"></i>-->
<!--    </h3>-->
<!--</div>-->
<hr>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 0px">
            <mat-card style="margin: 0px 0;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="ih-item circle effect3 left_to_right">
                           <a [routerLink]="['/detailSinger/',idSinger1]">
                                <div class="img"><img
                                        src="{{imageSinger1}}"
                                        alt="img"></div>
                                <div class="info"><h3>{{nameSinger1}}</h3>
                                    <p>Birthday</p>
                                    <p>{{birthDay1}}</p>
                                </div>
                           </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="ih-item circle effect3 left_to_right">
                            <a [routerLink]="['/detailSinger/',idSinger2]">
                                <div class="img"><img
                                        src="{{imageSinger2}}"
                                        alt="img"></div>
                                <div class="info"><h3>{{nameSinger2}}</h3>
                                    <p>Birth Day</p>
                                    <p>{{birthDay2}}</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="ih-item circle effect3 left_to_right">
                            <a [routerLink]="['/detailSinger/',idSinger3]">
                                <div class="img">
                                    <img  src="{{imageSinger3}}" alt="img">
                                </div>
                                <div class="info"><h3>{{nameSinger3}}</h3>
                                    <p>Birth Day</p>
                                    <p>{{birthDay3}}</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="ih-item circle effect3 left_to_right">
                           <a [routerLink]="['/detailSinger/',idSinger4]">
                                <div class="img"><img
                                        src="{{imageSinger4}}"
                                        alt="img"></div>
                                <div class="info"><h3>{{nameSinger4}}</h3>
                                    <p>Birth Day</p>
                                    <p>{{birthDay4}}</p>
                                </div>
                           </a>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>








