<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                           placeholder="&#61442;  Search Song in one page..."><br>
                    <button routerLink="/createSong" type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-success"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">
<!--                         <img src="../../../../assets/images/icons/create-category.png" height="40"-->
                        <!--                              width="40"/>-->
                        <b>Create Song
                        <img src="../../../../assets/images/icons/create-song2.png" height="40" width="40"/></b></span>
                    </button>
                </div>

                <div class="row">
                    <div class="column" *ngFor="let song of songs|filter: searchText">
                        <button *ngIf="isCheck" routerLink="/createSong" mat-icon-button style="color: #ff03cc" aria-label="Example icon button with a heart icon">
                            <mat-icon>queue music</mat-icon>
                        </button>
                        <button *ngIf="isCheck" [routerLink]="['/editSong/',song.id]" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button  *ngIf="isCheck" mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                                 (click)="deleteSong(song.id)">
                            <mat-icon>delete</mat-icon>
                        </button>


                            <div class="card">
                                <i [routerLink]="['/detailSong/',song.id]"style="color: crimson">
                                        {{song.nameSong}}
                                </i>

                                <img [routerLink]="['/detailSong/',song.id]"class="img" [src]="song.avatarSong">
                                <mat-card-subtitle [routerLink]="['/detailSong/',song.id]"style="color: #2b542c">Singer's: <b
                                        style="color: crimson">{{song.nameSinger}}</b>
                                </mat-card-subtitle>
                                <mat-card-subtitle [routerLink]="['/detailSong/',song.id]" style="color: #2b542c">Music Genre: <b
                                        style="color: crimson">{{song.nameCategory}}</b>
                                </mat-card-subtitle>
                                <mat-card-subtitle style="color: #ff03cc"><b style="color: #2b542c">Created by:</b>{{song.createBy}}</mat-card-subtitle>

                            </div>




                    </div>

                </div>
                <mat-paginator  [pageSizeOptions]="[15,30,90]" [length]="totalElements"
                               (page)="nextPage($event)">
                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>


