<div class="topnav" id="myTopnav">
    <a style="color: yellow; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/"><span class="mat-button-wrapper"><img
            width="30px;" alt="angular" class="docs-angular-logo"
            src="../assets/images/icons/mp3.png" height="30" width="30"/><b>Home</b></span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
    <a style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/singer"><span class="mat-button-wrapper">
        <img src="../assets/images/icons/list-singer.png" height="40" width="40"/><b>Singers</b></span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
<!--    <a style="color: #0b84ff; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--       mat-button tabindex="0" aria-disabled="false" routerLink="/pageSong"><span class="mat-button-wrapper">-->
<!--        <img src="../assets/images/icons/list-song.png" height="40" width="40"/><b>Store Music</b></span>-->
<!--    </a><span class="example-spacer"></span>-->
    <!-- List Category -->
    <a style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/pageCategory"><span class="mat-button-wrapper">
        <img src="../assets/images/icons/list-category.png" height="40" width="40"/>
        <b>Music Genre</b></span>
    </a><span class="example-spacer"></span>
    <a style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/pageSong"><span class="mat-button-wrapper">
        <img src="../assets/images/icons/list-song.png" height="40" width="40"/><b>Store Music</b></span>
    </a><span class="example-spacer"></span>
    <a style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/pageBand"><span class="mat-button-wrapper">
       <b><img src="../assets/images/icons/band.png" height="40" width="40"/>Band</b></span>
    </a><span class="example-spacer"></span>
    <a style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/pageAlbum"><span class="mat-button-wrapper">
       <b><img src="../assets/images/icons/album1.png" height="40" width="40"/>Albums</b></span>
    </a><span class="example-spacer"></span>


    <a style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/pageKaraoke"><span class="mat-button-wrapper">
       <b><img src="../assets/images/karaoke.png" height="40" width="40"/>Karaoke</b></span>
    </a><span class="example-spacer"></span>

    <a style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/pageVideo"><span class="mat-button-wrapper">
       <b><img src="../assets/images/icons/video.png" height="40" width="40"/>Video</b></span>
    </a><span class="example-spacer"></span>

    <!-- LIEN QUAN TOI ACCOUNT -->
    <a *ngIf="!authority" style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/register"><span class="mat-button-wrapper"><img
            width="30px;" alt="angular" class="docs-angular-logo"
            src="../assets/images/icons/add_user.png" height="30" [width]="30"/><b>Register</b></span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
    <!-- USER ACCOUNT -->
    <a *ngIf="authority === 'user'" style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/user"><span class="mat-button-wrapper"><img
            width="30px;" alt="angular" class="docs-angular-logo"
            src="https://img.icons8.com/dusk/64/000000/user-folder.png"><b>User Account</b></span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
    <!-- ADMIN -->
    <a *ngIf="authority === 'admin'" style="color: springgreen; text-decoration: none;"
       aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/admin"><span class="mat-button-wrapper"><img
            width="30px;" alt="angular" class="docs-angular-logo"
            src="https://img.icons8.com/dusk/64/000000/user-folder.png"><b>Admin</b></span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
    <!-- LOGIN -->
    <a *ngIf="!authority" style="color: springgreen; text-decoration: none;" aria-label="Angular Audio Player"
       class="docs-button mat-button"
       mat-button tabindex="0" aria-disabled="false" routerLink="/login"><span class="mat-button-wrapper"><img
            width="30px;" alt="angular" class="docs-angular-logo"
            src="../assets/images/icons/login.png"
            width="30px"/><b>Login</b></span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
    <!--    <a>-->
    <!--        <span class="mat-button-wrapper">-->
    <!--            <img  class="image" *ngIf="authority==='user'"[src]=info.avatar width="50px" height="50px" routerLink="/changeAvatar"></span>-->
    <!--        <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
    <!--        <div class="mat-button-focus-overlay"></div>-->
    <!--    </a><span class="example-spacer"></span>-->
    <a class="image" *ngIf="authority==='user'" style="color: springgreen; text-decoration: none;"
       aria-label="Angular Audio Player"
       mat-button tabindex="0" aria-disabled="false" routerLink="/changeAvatar"><span class="mat-button-wrapper">
        <img alt="angular" class="image" [src]=info.avatar width="50px" height="50px"></span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>

    <!--    <a href="#news">News</a>-->
    <!--    <a href="#contact">Contact</a>-->
    <!--    <a href="#about">About</a>-->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    <marquee><mat-card-title style="color: greenyellow">Nếu không thấy dữ liệu, vui lòng chờ trong giây lát để API phản hồi từ máy chủ của chúng tôi. Đăng ký tài khoản để sử dụng tất cả các tính năng tốt nhất của website. Chúc các bạn nghe nhạc vui vẻ! -
        If you don't see the data, please wait a moment for the API to respond from our server. Register for an account to use all the best features of the website. Wish you happy listening!</mat-card-title> </marquee>
</div>


<!--<div style="padding-left:16px">-->
<!--    <h2>Responsive Topnav Example</h2>-->
<!--    <p>Resize the browser window to see how it works.</p>-->
<!--</div>-->

<!--<script>-->
<!--    function myFunction() {-->
<!--        var x = document.getElementById("myTopnav");-->
<!--        if (x.className === "topnav") {-->
<!--            x.className += " responsive";-->
<!--        } else {-->
<!--            x.className = "topnav";-->
<!--        }-->
<!--    }-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
<!--<div class="topnav" id="myTopnav">-->
<!--    <a href="#home" class="active">Home</a>-->
<!--    <a href="#news">News</a>-->
<!--    <a href="#contact">Contact</a>-->
<!--    <a href="#about">About</a>-->
<!--    <a href="javascript:void(0);" class="icon" onclick="myFunction()">-->
<!--        <i class="fa fa-bars"></i>-->
<!--    </a>-->
<!--</div>-->
<!--            <mat-toolbar color="accent">-->
<!--                <mat-toolbar-row class="mat-elevation-z6">-->
<!--                    <a style="color: white; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--                       mat-button tabindex="0" aria-disabled="false" [routerLink]="['/']"><span class="mat-button-wrapper"><img-->
<!--                            width="30px;" alt="angular" class="docs-angular-logo"   src="../assets/images/icons/mp3.png"  >-->
<!--               <b>Nguyễn Đồng Chính</b></span>-->
<!--                        <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                        <div class="mat-button-focus-overlay"></div>-->
<!--                    </a><span class="example-spacer"></span>-->
<!--                    <a style="color: white; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--                       mat-button tabindex="0" aria-disabled="false" [routerLink]="['/']"><span class="mat-button-wrapper"><img-->
<!--                            width="30px;" alt="angular" class="docs-angular-logo"   src="../assets/images/icons/mp3.png"  >-->
<!--               <b>Nguyễn Đồng Chính</b></span>-->
<!--                        <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                        <div class="mat-button-focus-overlay"></div>-->
<!--                    </a><span class="example-spacer"></span>-->
<!--                    <a style="color: white; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--                                                                    mat-button tabindex="0" aria-disabled="false" [routerLink]="['/']"><span class="mat-button-wrapper"><img-->
<!--                        width="30px;" alt="angular" class="docs-angular-logo"   src="../assets/images/icons/mp3.png"  >-->
<!--               <b>Nguyễn Đồng Chính</b></span>-->
<!--                    <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                    <div class="mat-button-focus-overlay"></div>-->
<!--                </a><span class="example-spacer"></span>-->
<!--                    <a style="color: white; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--                                                                mat-button tabindex="0" aria-disabled="false" [routerLink]="['/']"><span class="mat-button-wrapper"><img-->
<!--                        width="30px;" alt="angular" class="docs-angular-logo"   src="../assets/images/icons/mp3.png"  >-->
<!--               <b>Nguyễn Đồng Chính</b></span>-->
<!--                    <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                    <div class="mat-button-focus-overlay"></div>-->
<!--                </a><span class="example-spacer"></span>     <a style="color: white; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--                                                                mat-button tabindex="0" aria-disabled="false" [routerLink]="['/']"><span class="mat-button-wrapper"><img-->
<!--                        width="30px;" alt="angular" class="docs-angular-logo"   src="../assets/images/icons/mp3.png"  >-->
<!--               <b>Nguyễn Đồng Chính</b></span>-->
<!--                    <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                    <div class="mat-button-focus-overlay"></div>-->
<!--                </a><span class="example-spacer"></span>     <a style="color: white; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--                                                                mat-button tabindex="0" aria-disabled="false" [routerLink]="['/']"><span class="mat-button-wrapper"><img-->
<!--                        width="30px;" alt="angular" class="docs-angular-logo"   src="../assets/images/icons/mp3.png"  >-->
<!--               <b>Nguyễn Đồng Chính</b></span>-->
<!--                    <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                    <div class="mat-button-focus-overlay"></div>-->
<!--                </a><span class="example-spacer"></span>     <a style="color: white; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--                                                                mat-button tabindex="0" aria-disabled="false" [routerLink]="['/']"><span class="mat-button-wrapper"><img-->
<!--                        width="30px;" alt="angular" class="docs-angular-logo"   src="../assets/images/icons/mp3.png"  >-->
<!--               <b>Nguyễn Đồng Chính</b></span>-->
<!--                    <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                    <div class="mat-button-focus-overlay"></div>-->
<!--                </a><span class="example-spacer"></span>     <a style="color: white; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--                                                                mat-button tabindex="0" aria-disabled="false" [routerLink]="['/']"><span class="mat-button-wrapper"><img-->
<!--                        width="30px;" alt="angular" class="docs-angular-logo"   src="../assets/images/icons/mp3.png"  >-->
<!--               <b>Nguyễn Đồng Chính</b></span>-->
<!--                    <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                    <div class="mat-button-focus-overlay"></div>-->
<!--                </a><span class="example-spacer"></span>-->


<!--                    <a href="https://github.com/vmudigal/NgxAudioPlayer/" class="github-corner" aria-label="View source on GitHub"><svg-->
<!--                            width="62" height="62" viewBox="0 0 250 250" style="fill:green; color:fuchsia; position: absolute; top: 0; border: 0; right: 0;"-->
<!--                            aria-hidden="true">-->
<!--                        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>-->
<!--                        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"-->
<!--                              fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>-->
<!--                        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"-->
<!--                              fill="currentColor" class="octo-body"></path>-->
<!--                    </svg></a>-->
<!--                    <a _ngcontent-bfm-c51="" mat-button="" [routerLink]="['login']"class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base" tabindex="0" aria-disabled="false" href="/guides">-->
<!--                        <span class="mat-button-wrapper">Login</span>-->
<!--                        <div matripple="" class="mat-ripple mat-button-ripple"></div>-->
<!--                        <div class="mat-button-focus-overlay"></div>-->
<!--                    </a>-->
<!--                    <a _ngcontent-bfm-c51="" mat-button="" [routerLink]="['user']"class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base" tabindex="0" aria-disabled="false" href="/guides">-->
<!--                        <span class="mat-button-wrapper">User</span>-->
<!--                        <div matripple="" class="mat-ripple mat-button-ripple"></div>-->
<!--                        <div class="mat-button-focus-overlay"></div>-->
<!--                    </a>-->
<!--                    <a style="color: white; text-decoration: none;" aria-label="Angular Audio Player" class="docs-button mat-button"-->
<!--                       mat-button tabindex="0" aria-disabled="false" [routerLink]="['register']"><span class="mat-button-wrapper"><img-->
<!--                            width="30px;" alt="angular" class="docs-angular-logo"  src="https://img.icons8.com/dusk/64/000000/add-user-group-woman-man.png"><b>Register</b></span>-->
<!--                        <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--                        <div class="mat-button-focus-overlay"></div>-->
<!--                    </a><span class="example-spacer"></span>-->
<!--                    <a _ngcontent-bfm-c51="" mat-button="" [routerLink]="['register']"class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base" tabindex="0" aria-disabled="false" href="/guides">-->
<!--                        <span class="mat-button-wrapper">Login</span>-->
<!--                        <div matripple="" class="mat-ripple mat-button-ripple"></div>-->
<!--                        <div class="mat-button-focus-overlay"></div>-->
<!--                    </a>-->
<!--                    <a style="text-decoration: none;" class="docs-button mat-raised-button" mat-raised-button=""-->
<!--                       tabindex="0" aria-disabled="false" [routerLink]="['login']"><span-->
<!--                            class="mat-button-wrapper">Login</span>-->
<!--                        <div class="mat-button-raised mat-raised" matripple=""></div>-->
<!--                        <div class="mat-button-focus-overlay"></div>-->
<!--                    </a>-->
<!--        <a style="text-decoration: none;" class="docs-button mat-raised-button" mat-raised-button=""-->
<!--           tabindex="0" aria-disabled="false" [routerLink]="['register']"><span-->
<!--                class="mat-button-wrapper">Register</span>-->
<!--            <div class="mat-button-raised mat-raised" matripple=""></div>-->
<!--            <div class="mat-button-focus-overlay"></div>-->
<!--        </a>-->

<!--                </mat-toolbar-row>-->
<!--            </mat-toolbar>-->
<div class="content">
    <router-outlet></router-outlet>
</div>
<footer class="mat-toolbar mat-accent font-small">
    <div class="container">
        <div class="row py-4 d-flex align-items-center">
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Design By: NGUYỄN ĐỒNG CHÍNH 2020</h6>
            </div>
            <div class="col-md-6 col-lg-7 text-center text-md-right">
                <!-- <share-buttons [theme]="'material-light'" [include]="['facebook','twitter','linkedin']"
                    [show]="6" [size]="-3" [url]="'https://www.github.com/vmudigal/ngx-audio-player'" [title]="'Angular Audio Player'"
                    [description]="'A simple, clean, responsive, angular material design inspired basic and advanced audio players for Angular 7/8/9'"
                    [image]="'https://vmudigal.github.io/ngx-audio-player/assets/images/logos/ngx-audio-player-logo.png'"
                   [tags]="'angular, angular 7, angular 8, angular 9, audio, player, audio player, angular audio player, material designed audio player'"></share-buttons> &ndash;&gt;-->
<!--                <share-buttons [theme]="'material-light'" [include]="['facebook','twitter','linkedin']"-->
<!--                               [show]="6" [size]="-3" [url]="'https://www.github.com/vmudigal/ngx-audio-player'"-->
<!--                               [title]="'Angular Audio Player'"-->
<!--                               [description]="'A simple, clean, responsive, angular material design inspired basic and advanced audio players for Angular 7/8/9/10'"-->
<!--                               [image]="'https://vmudigal.github.io/ngx-audio-player/assets/images/logos/ngx-audio-player-logo.png'"-->
<!--                               [tags]="'angular, angular 7, angular 8, angular 9, angular 10, audio, player, audio player, angular audio player, material designed audio player'"></share-buttons>-->
                <button mat-fab shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color"
                [url]="'https://dongchinh.netlify.app/'">
                    <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
                </button>
                <button mat-fab shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
                    <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
                </button>
                <button mat-fab shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color">
                    <fa-icon [icon]="share.prop.linkedin.icon" size="lg"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</footer>

