<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <mat-error  *ngIf="!isChange" class="alert alert-success">Status:{{messageError}}</mat-error><br><br>
                <app-upload-avatar (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar><br>
                <form (ngSubmit)="onSubmit()"#f="ngForm" class="col-4" style="margin-bottom: 10px">

                    <button type="submit" style="color: green; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="docs-button mat-button"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b><img
                            src="../../../assets/images/icons/change-avatar.png" height="24" width="24"/>Change Avatar</b></span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>

