.example-container {
    position: relative;
    padding: 5px;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.image{
    width: auto;
    height: 100px;
}
/*.title{*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;

}

/*.container {*/
/*    padding-top: 50px;*/
/*    padding-bottom: 10px;*/
/*    color: #405065;*/
/*}*/

.search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
    text-align: center;
}

.form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
    font-family: FontAwesome;
}
/*mat-grid-tile {*/
/*    background: lightblue;*/
/*}*/






